vacuum_clean_segment:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    segments:
      example: "[3,2] or 3" 
      required: true
      selector:
        object:
    repeats:
      example: "[1,2] or 1" 
      required: false
      selector:
        number:
          min: 1
          max: 3
    suction_level:
      example: "[0,3] or 0" 
      required: false
      selector:
        number:
          min: 0
          max: 3
    water_volume:
      example: "[1,3] or 1"
      required: false
      selector:
        number:
          min: 1
          max: 3

vacuum_clean_zone:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    zone:
      example: "[819,-263,4424,2105] or [[819,-263,4424,2105],[-2001,-3050,-542,515]]"
      required: true
      selector:
        object:
    repeats:
      example: "[1,2] or 1" 
      required: false
      selector:
        number:
          min: 1
          max: 3
    suction_level:
      example: "[0,3] or 0" 
      required: false
      selector:
        number:
          min: 0
          max: 3
    water_volume:
      example: "[1,3] or 1"
      required: false
      selector:
        number:
          min: 1
          max: 3

vacuum_clean_spot:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    points:
      example: "[819,-263] or [[819,-263],[819,-263]]" 
      required: true
      selector:
        object:
    repeats:
      example: "[1,2] or 1" 
      required: false
      selector:
        number:
          min: 1
          max: 3
    suction_level:
      example: "[0,3] or 0" 
      required: false
      selector:
        number:
          min: 0
          max: 3
    water_volume:
      example: "[1,3] or 1"
      required: false
      selector:
        number:
          min: 1
          max: 3

vacuum_goto:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    x:
      example: 819
      required: true
      selector:
        number:
          mode: box
    y:
      example: -263
      required: true
      selector:
        number:
          mode: box

vacuum_follow_path:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    points:
      example: "[819,-263] or [[819,-263],[900,-463]]" 
      required: false
      selector:
        object:

vacuum_remote_control_move_step:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    rotation:
      example: 64
      required: true
      selector:
        number:
          min: -360
          max: 360
          mode: box
    velocity:
      example: 100
      required: true
      selector:
        number:
          min: -600
          max: 600
          mode: box

vacuum_install_voice_pack:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    lang_id:
      example: "DE"
      required: true
      selector:
        text:
    url:
      example: "http://awsde0.fds.api.xiaomi.com/dreame-product/dreame.vacuum.p2009/voices/package/deyu.tar.gz"
      required: true
      selector:
        text:
          type: url
    md5:
      example: "d25986c1f608c0897475707e77d856f9"
      required: true
      selector:
        text:
    size:
      example: 4067845
      required: true
      selector:
        number:
          mode: box

vacuum_request_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum

vacuum_select_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    map_id:
      example: 14
      required: true
      selector:
        number:
          mode: box

vacuum_delete_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    map_id:
      example: 14
      required: false
      selector:
        number:
          mode: box

vacuum_save_temporary_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum

vacuum_discard_temporary_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum

vacuum_replace_temporary_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    map_id:
      example: 14
      required: false
      selector:
        number:
          mode: box

vacuum_rename_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    map_id:
      example: "14"
      required: true
      selector:
        number:
          mode: box
    map_name:
      example: "Ground Floor"
      required: true
      selector:
        text:

vacuum_restore_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    recovery_map_index:
      required: true
      selector:
        number:
          min: 1
          max: 4
          mode: box
    map_id:
      example: 14
      required: false
      selector:
        number:
          mode: box

vacuum_restore_map_from_file:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    file_url:
      example: "http://192.168.1.10/local/2023-11-04-1724223415-423528451_284320462.1156.mb.tbz2"
      required: true
      selector:
        text:
          type: url
    map_id:
      example: 14
      required: false
      selector:
        number:
          mode: box

vacuum_backup_map:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    map_id:
      example: 14
      required: false
      selector:
        number:
          mode: box

vacuum_merge_segments:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    map_id:
      example: "14"
      required: false
      selector:
        number:
          mode: box
    segments:
      example: "[3,2]"
      required: true
      selector:
        object:

vacuum_split_segments:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    map_id:
      example: "14"
      required: false
      selector:
        number:
          mode: box
    segment:
      example: "3"
      required: true
      selector:
        number:
          min: 1
          max: 60
          mode: box
    line:
      example: "[819,-263,4424,2105]"
      required: true
      selector:
        object:

vacuum_rename_segment:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    segment_id:
      example: "3"
      required: true
      selector:
        number:
          min: 1
          max: 60
          mode: box
    segment_name:
      example: "Playroom"
      required: true
      selector:
        text:

vacuum_set_cleaning_sequence:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    cleaning_sequence:
      example: "[5,3,2,1,4] or []"
      required: true
      selector:
        object:

vacuum_set_custom_cleaning:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    segment_id:
      example: "[1,2,3,4,5]"
      required: true
      selector:
        object:
    suction_level:
      example: "[0,0,2,3,1]"
      required: true
      selector:
        object:
    water_volume:
      example: "[1,1,2,3,1]"
      required: true
      selector:
        object:
    cleaning_mode:
      example: "[2,2,0,1,0]"
      required: false
      selector:
        object:
    repeats:
      example: "[2,2,1,3,1]"
      required: true
      selector:
        object:
        
vacuum_set_restricted_zone:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    walls:
      example: "[[819,-263,4424,2105],[-2001,-3050,-542,515]]"
      required: false
      selector:
        object:
    zones:
      example: "[[819,-263,4424,2105],[-2001,-3050,-542,515]]"
      required: false
      selector:
        object:
    no_mops:
      example: "[[819,-263,4424,2105],[-2001,-3050,-542,515]]"
      required: false
      selector:
        object:

vacuum_reset_consumable:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    consumable:
      required: true
      selector:
        select:
          options:
            - "main_brush"
            - "side_brush"
            - "filter"
            - "tank_filter"
            - "sensor"
            - "mop_pad"
            - "silver_ion"
            - "detergent"
            - "squeegee"
            - "onboard_dirty_water_tank"
            - "dirty_water_tank"
            - "deodorizer"
            - "wheel"
            - "scale_inhibitor"

vacuum_rename_shortcut:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    shortcut_id:
      example: "32"
      required: true
      selector:
        number:
          mode: box
    shortcut_name:
      example: "Mopping after sweeping"
      required: true
      selector:
        text:

vacuum_set_carpet_area:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    carpets:
      example: "[[819,-263,4424,2105],[-2001,-3050,-542,515]]"
      required: false
      selector:
        object:
    ignored_carpets:
      example: "[[819,-263,4424,2105],[-2001,-3050,-542,515]]"
      required: false
      selector:
        object:    

vacuum_set_virtual_threshold:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    virtual_thresholds:
      example: "[[819,-263,4424,2105],[-2001,-3050,-542,515]]"
      required: false
      selector:
        object:

vacuum_set_predefined_points:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    points:
      example: "[819,-263] or [[819,-263],[900,-463]]" 
      required: false
      selector:
        object:

vacuum_set_obstacle_ignore:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    x:
      example: 819
      required: true
      selector:
        number:
          mode: box
    y:
      example: -263
      required: true
      selector:
        number:
          mode: box
    obstacle_ignored:
      example: "false"
      required: true
      selector:
        boolean:

vacuum_set_router_position:
  target:
    entity:
      integration: dreame_vacuum
      domain: vacuum
  fields:
    x:
      example: 819
      required: true
      selector:
        number:
          mode: box
    y:
      example: -263
      required: true
      selector:
        number:
          mode: box

select_select_previous:
  target:
    entity:
      integration: dreame_vacuum
      domain: select
  fields:
    cycle:
      default: true
      selector:
        boolean:

select_select_first:
  target:
    entity:
      integration: dreame_vacuum
      domain: select

select_select_last:
  target:
    entity:
      integration: dreame_vacuum
      domain: select

select_select_next:
  target:
    entity:
      integration: dreame_vacuum
      domain: select
  fields:
    cycle:
      default: true
      selector:
        boolean: